{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
    <div class="container-fluid px-0 row mx-0">
        <div class=" col-12 d-grid py-md-5 py-sm-5 d-flex align-items-center ps-5 " style="background: linear-gradient(
                rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.7)
                ), url('{{ asset('img/rozenOverOns.png')}}') no-repeat center; background-size: cover">
            <div class="row">
                <p class="fs-5 fw-lighter text-white mt-4 ">
                    Breathtaking Floral Arrangements
                </p>
                <h2 class="fs-1 display-1 pb-md-3 text-white fw-bolder ">
                    Blooming Floral Masterpieces
                </h2>
                <p class="fs-5 fw-lighter text-white text-wrap w-md-100 col-md-3 ">
                    Discover our exquisite collection of blooming floral masterpieces, each carefully crafted to bring beauty and joy to any occasion.
                </p>
            </div>
        </div>
        <div class="container d-flex justify-content-center">
            <div class=" col-12 container my-5 text-center row row-cols-2 row-cols-lg-3 g-4 ">
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-foto-1.png')}}" alt="">
                </div>
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-foto-2.png')}}" alt="">
                </div>
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-foto-3.png')}}" alt="">
                </div>
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-foto-4.png')}}" alt="">
                </div>
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-foto-5.png')}}" alt="">
                </div>
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-foto-6.png')}}" alt="">
                </div>
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-foto-7.png')}}" alt="">
                </div>
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-foto-8.png')}}" alt="">
                </div>
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-foto-9.png')}}" alt="">
                </div>
            </div>
        </div>
        <div class="container my-5">
            <div class="container ps-5  py-4" style="background-color: #ffefea">
                <div class="row">
                    <div class="">
                        <h2 class="fs-1 mt-3 display-1 pb-md-3 text-black fw-light ">
                            Blooms Begin Here
                        </h2>
                        <p class="fs-3 fw-lighter  ">
                            Blossom your floral business with our creative bouquet of services.
                        </p>
                    </div>
                    <div class=""></div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
