{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
    <div class="container-fluid px-0 row mx-0">
        <div class=" col-12 d-grid py-md-5 py-sm-5 d-flex align-items-center ps-5 " style="background: linear-gradient(
                rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.7)
                ), url('{{ asset('img/rozen.png')}}') no-repeat center; background-size: cover">
            <div class="row">
                <p class="fs-5 fw-lighter text-white mt-4 ">
                    Prachtige bloemstukken die elke gelegenheid opfleuren
                </p>
                <h2 class="fs-1 display-1 pb-md-3 text-white fw-bolder ">
                    Verken onze prachtige bloemkunstwerken
                </h2>
                <p class="fs-5 fw-lighter text-white text-wrap w-md-100 col-md-3 ">
                    Ontdek onze mooie collectie bloemen, elk met zorg gemaakt om schoonheid en vreugde te brengen bij elke gelegenheid.
                </p>
            </div>
        </div>
        <div class="container d-flex justify-content-center">
            <div class=" col-12 container my-5 text-center row row-cols-2 row-cols-lg-3 g-4 ">
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-1.jpg')}}" alt="">
                </div>
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-2.jpg')}}" alt="">
                </div>
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-3.jpg')}}" alt="">
                </div>
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-4.jpg')}}" alt="">
                </div>
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-5.jpg')}}" alt="">
                </div>
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-6.jpg')}}" alt="">
                </div>
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-7.jpg')}}" alt="">
                </div>
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-8.jpg')}}" alt="">
                </div>
                <div class="col">
                    <img class="img-fluid" src="{{ asset('img/galerij-9.jpg')}}" alt="">
                </div>
            </div>
        </div>
        <div class="container my-5">
            <div class="container ps-5  py-4" style="background-color: #ffefea">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="fs-1 mt-3 display-1 pb-md-3 text-black fw-light ">
                            Hier begint de bloei
                        </h2>
                        <p class="fs-3 fw-lighter  ">
                            Laat uw bedrijf opbloeien en bestel onze creatieve boeket van diensten
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
                        <a href="{{ path("bezorg") }}" > <button class="btn fw-bolder fs-3 btn-dark"> Naar Bezorging</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
